<!-- <mat-sidenav-container>
  <mat-sidenav-content><button mat-raised-button color="primary">b</button><button mat-raised-button color="accent">b</button></mat-sidenav-content>
  <mat-sidenav-content><button mat-raised-button color="primary">b</button></mat-sidenav-content>
</mat-sidenav-container> -->


<mat-card mat-elevation-z3 class="test">
  <mat-expansion-panel (click)="updateUrl()" (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]='isExpanded'>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Advanced
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-card-actions layout="row" layout-align="center center">
      <span style="margin-left: 15px; margin-right: 15px;">Custom</span>
      <input id="customString" type="text" [(ngModel)]="custom" placeholder="a,b,c,1,2,3,hi,hello" />
      <span style="margin-left: 15px; margin-right: 15px;">Max Symbols</span>
      <mat-slider color="primary" disabled="false" invert="false" max="20" min="2" step="true" thumbLabel="true"
        tickInterval="true" [(ngModel)]="sliderValue" vertical="false">
      </mat-slider>
    </mat-card-actions>
    <mat-card-actions>


      <mat-checkbox id="isWithSpaces" color="primary" [(ngModel)]="isWithSpaces" (change)="refreshGenerator()">Spaces
      </mat-checkbox>
      <mat-checkbox id="isSentensized" color="primary" [(ngModel)]="isSentensized" (change)="refreshGenerator()">
        Sentensize</mat-checkbox>
      <mat-checkbox id="isJustStart" color="primary" [(ngModel)]="isJustStart" (change)="refreshGenerator()">Cut Start
      </mat-checkbox>
      <mat-checkbox id="isJustEnd" color="primary" [(ngModel)]="isJustEnd" (change)="refreshGenerator()">Cut End
      </mat-checkbox>
    </mat-card-actions>
  </mat-expansion-panel>
</mat-card>
<mat-card>

  <button class="drag-container" mat-raised-button [matMenuTriggerFor]="menu">Examples</button>
  <button class="drag-container" mat-raised-button (click)="showRandomExample()">Show Example</button>
  <button class="drag-container" mat-raised-button (click)="reset()">Reset</button>
  <button class="drag-container" mat-raised-button (click)="regenerate()">Regenerate</button>
  <h1>Drag -> Drop</h1>
  <mat-menu #menu="matMenu">
    <button mat-menu-item color="primary" (click)="titleGenerator()">Title</button>
    <button mat-menu-item color="primary" (click)="nickNameOneGenerator()">Nickname</button>
    <button mat-menu-item color="primary" (click)="nickNameGirlGenerator()">Nickname Girl</button>
    <button mat-menu-item color="primary" (click)="nickNameBoyGenerator()">Nickname Boy</button>
    <button mat-menu-item color="primary" (click)="vowelWordGenerator()">Vowellian</button>
    <button mat-menu-item color="primary" (click)="consonantWordGenerator()">Consonnian</button>
    <button mat-menu-item color="primary" (click)="complimentGenerator()">Compliment</button>
    <button mat-menu-item color="primary" (click)="questionGenerator()">Question</button>
  </mat-menu>
  <div cdkDropListGroup>
    <!-- <div class="example-container">
      <h2>Example</h2>

      <div cdkDropList [cdkDropListData]="randomized" class="example-list" (cdkDropListDropped)="drop($event)">
        <button class="example-container" id="{{item}}" mat-raised-button color="primary"
          *ngFor="let item of randomized" cdkDrag>{{item}}</button>
      </div>
    </div> -->

    <!-- matTooltip="{{ranPre(item)}}" -->
    <!-- <button class="example-container" mat-raised-button color="accent">Show Example</button> -->
    <div class="drag-container" *ngIf="panelOpenState">
      <h3>Other</h3>

      <div cdkDropList [cdkDropListData]="wordMapChoicesOther" class="drag-list" (cdkDropListDropped)="drop($event)">
        <button class="drag-container" mat-raised-button color="primary" *ngFor="let item of wordMapChoicesOther"
          cdkDrag>{{item}}</button>
      </div>
    </div>
    <div class="drag-container">
      <h3>Symbols</h3>

      <div cdkDropList [cdkDropListData]="wordMapChoicesSymbols" class="drag-list" (cdkDropListDropped)="drop($event)">
        <button class="drag-container" mat-raised-button color="primary" *ngFor="let item of wordMapChoicesSymbols"
          cdkDrag>{{item}}</button>
      </div>
    </div>
    <div class="drag-container" *ngIf="panelOpenState">
      <h3>Parts</h3>

      <div cdkDropList [cdkDropListData]="wordMapChoicesParts" class="drag-list" (cdkDropListDropped)="drop($event)">
        <button class="drag-container" mat-raised-button color="primary" *ngFor="let item of wordMapChoicesParts"
          cdkDrag>{{item}}</button>
      </div>
    </div>
    <div class="drag-container">
      <h3>Words</h3>

      <div cdkDropList [cdkDropListData]="wordMapChoicesWords" class="drag-list" (cdkDropListDropped)="drop($event)">
        <button class="drag-container" mat-raised-button color="primary" *ngFor="let item of wordMapChoicesWords"
          cdkDrag>{{item}}</button>
      </div>
    </div>
    <!-- <div class="drag-container">
      <h2>Words</h2>

      <div cdkDropList [cdkDropListData]="wordMapChoicesGrammar" class="drag-list" (cdkDropListDropped)="drop($event)">
        <button class="drag-container" mat-raised-button color="primary" *ngFor="let item of wordMapChoicesGrammar"
          cdkDrag>{{item}}</button>
      </div>
    </div> -->
    <div class="drag-container">
      <h3>Names</h3>

      <div cdkDropList [cdkDropListData]="wordMapChoicesNames" class="drag-list" (cdkDropListDropped)="drop($event)">
        <button class="drag-container" mat-raised-button color="primary" *ngFor="let item of wordMapChoicesNames"
          cdkDrag>{{item}}</button>
      </div>
    </div>

    <div class="drag-container">
      <h2>Drop Here</h2>

      <div cdkDropList [cdkDropListData]="done" class="drag-list" (cdkDropListDropped)="drop($event)">
        <div class="input" *ngFor="let item of done; let i = index;" cdkDrag>
          <input type="text" id="{{item}}" value="{{item}}" />
        </div>
      </div>
    </div>
    <div class="drag-container2">
      <h2>Generated</h2>
      <textarea spellcheck="false" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10" placeholder="generated" [(ngModel)]='randomizerOutput'>{{randomizerOutput}}</textarea>
    </div>
  </div>

</mat-card>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <b>References</b>
    </mat-panel-title>
    <mat-panel-description>

    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-card>
    http://www.insult.wiki/wiki/Insult_List
<hr/>
https://gist.github.com/mkulakowski2/4289441
<hr/>
  Minqing Hu and Bing Liu. "Mining and Summarizing Customer Reviews."
         Proceedings of the ACM SIGKDD International Conference on Knowledge
         Discovery and Data Mining (KDD-2004), Aug 22-25, 2004, Seattle,
         Washington, USA,
         <hr/>
  Bing Liu, Minqing Hu and Junsheng Cheng. "Opinion Observer: Analyzing
         and Comparing Opinions on the Web." Proceedings of the 14th
         International World Wide Web conference (WWW-2005), May 10-14,
         2005, Chiba, Japan.
         <hr/>
  </mat-card>
</mat-expansion-panel>
